* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav-start {
    display: flex;
    padding: 35px;
    border: 1px solid red;
}

.logo {
    padding-left: 200px;
    cursor: pointer;
}

.nav-fil {
    padding-left: 350px;
}

.nav-fil a {
    padding-left: 50px;
    text-decoration: none;
    font-size: 20px;
    text-transform: capitalize;
}

.nav-fil a:hover {
    color: #fd7e14;
    ;


}

.contact-logo {
    background-image: url(./image/contace\ img.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 500px;
}
.contact2 {
    text-align: center;
    position: relative;
    top: 200px;
    font-size: 50px;
    color: #ffffff;
}
.section3 {
    display: flex;
    position: relative;
}

.cat {
    position: relative;
    left: 50px;
    top: 150px;
}
.pages {
    height: 300px;

    position: relative;
    left: 200px;
    top: 300px;
    font-size: 50px;
    color: #fd7e14;
}