* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav-start {
    display: flex;
    padding: 35px;
    border: 1px solid red;
}

.logo {
    padding-left: 200px;
    cursor: pointer;
}

.nav-fil {
    padding-left: 350px;
}

.nav-fil a {
    padding-left: 50px;
    text-decoration: none;
    font-size: 20px;
    text-transform: capitalize;
}

.nav-fil a:hover {
    color: #fd7e14;
    ;


}