* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;


}

.nav-start {
    text-align: center;

    display: flex;
    padding: 30px;
    border: 1px solid red;
}

.logo {
    padding-left: 400px;
    cursor: pointer;
}

.nav-fil {
    padding-left: 400px;
}

.nav-fil a {
    padding-left: 40px;
    text-decoration: none;
    font-size: 20px;
    text-transform: capitalize;
}

.nav-fil a:hover {
    color: #fd7e14;



}

.section1 {
    height: 700px;
    width: 100%;
    background-image: url(./image/banner.png.webp);
    background-size: cover;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;

}

.section2 {

    display: flex;


}

.section3 {
    position: absolute;
    top: 180px;
    padding-left: 400px;
    width: 800px;

}

.we {
    font-size: 50px;
    color: #FFFFFF;
}

.your-pets {
    font-size: 60px;
    color: #FFFFFF;
}

.lorem {
    font-size: 18PX;
    color: #FFFFFF;
}

.dog-img {
    position: relative;

   
}

.dog-img img {
    top: 50px;
    left: 780PX;
    position: relative;
    height: 745px;
    width: 900px;

}


.dog-btn {
    padding-top: 40PX;

}

.dog-btn input {
    width: 180PX;
    height: 60PX;
    border-radius: 30PX;
    cursor: pointer;
    border: none;
    transition-duration: 1s;
    transition-delay: 0s;


}

.dog-btn input:hover {
    transform: perspective(50%);
    transition-duration: 1s;
    transition-delay: 0s;
    color: #FFFFFF;
    background-color: #FE6217;
}


.box {

    margin: 120px;
    margin-top: 200px;
    height: 700px;
}

.heading {
    margin: 120px;
    text-align: center;
}

.heading1 {
    font-size: 40px;
    color: #191D34;
}

.heading2 {
    margin: 20px;
    color: #9095A0;

    font-size: 17px;
}





.box1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* padding-left: 70px; */
    position: absolute;
    left: 420px;
    gap: 40px;


}


.box2 {
    border: 1px solid gray;
    height: 462px;
    width: 350px;
    border-radius: 20px;
    transition-duration: 0s;
    transition-delay: 1s;
    box-shadow: 0px 16px 35px 0px rgba(0, 0, 2, 0.08);






}

.box2:hover {

    transition-duration: 1s;
    transition-delay: 1s;
    box-shadow: 0px 16px 35px 0px rgba(0, 0, 2, 0.08);


}

.box-img1 {
    position: absolute;

}

.box-img1 img {
    top: 50px;
    position: relative;
    left: 90px;
}

.Pet {
    padding-top: 100px;
    text-align: center;
    font-size: 25px;
    color: #191D34;
}

.lorem-2 {
    font-size: 20px;
    padding-top: 20px;
    padding-left: 25px;
    color: #9095A0;

    text-align: center;
}


.box-img2 img {
    top: 80px;
    left: 125px;
    position: absolute;

}



.cat-1 {
    position: relative;
    display: flex;
    gap: 150px;
}





.cat-logo img {
    padding-left: 350px;

}

.we1 {
    padding-top: 100px;
    font-size: 40px;
    font-family: monospace;
    color: #191D34;
}

.as1 {
    font-size: 40px;
    font-weight: lighter;
    font-family: Arial, Helvetica, ;
    color: #FE6217;
}




.lorem-cat {
    padding-top: 20px;
    font-size: 20px;
    color: #9095A0;
}



.cat-btn {
    padding-top: 50px;
}

.cat-btn input {
    height: 50px;
    width: 180px;
    border-radius: 30px;
    border: none;
    background-color: #FE6217;
    color: #FFFFFF;
    font-size: 18px;
    cursor: pointer;
    transition-duration: 1s;
    transition-delay: 0s;

}

.cat-btn input:hover {
    background-color: #0088D5;
    transition-duration: 1s;
    transition-delay: 0s;

}







#free {
    margin: 140px;
    height: 500px;
}

.tonmoy {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 90px;
}


.tom {
    position: relative;
    left: 320px;




}


.dog-border1 h1 {
    padding-top: 10px;
    font-size: 45px;
    font-weight: 300;
}

.dog-border2 h1 {
    padding-top: 10px;
    font-size: 45px;
    font-weight: 700;
    color: #191D34;

}

.dog-border3 p {
    padding-top: 20px;
    font-size: 20px;
}

.dog-btn1 {
    padding-top: 40px;


}

.dog-btn1 input {
    height: 50px;
    width: 180px;
    border-radius: 30px;
    border: none;
    background-color: #FE6217;
    color: #FFFFFF;
    font-size: 20px;
    transition-duration: 1s;
    transition-delay: 0s;
    cursor: pointer;
}

.dog-btn1 input:hover {
    background-color: #0088D5;
    transition-duration: 1s;
    transition-delay: 0s;
}


.img-border {
    position: relative;
    left: 50px;
}

.dog-img1 {
    position: relative;
    top: 30px;
    left: 300px;
    height: 269px;
    width: 255px;
    margin-bottom: 40px;
    box-shadow: 0px 16px 35px 0px rgba(0, 0, 2, 0.08);
    border-radius: 14px;
    background: #fff;
    padding: 40px 40px 33px 40px;
}

.dog-img1 img {
    padding-left: 60px;
}


.peet-point1 {
    padding-left: 50px;
    padding-top: 20px;
    font-size: 30px;
    color: #191D34;
}

.peet-point2 {
    padding-left: 15px;
    padding-top: 10px;
    color: #9095A0;
    color: #191D34;

}


.peet-point3 {
    padding-left: 90px;
    padding-top: 20px;
    font-size: 30px;

    color: #9095A0;
}

.peet-point3 p {
    color: #9095A0;

}

.peet-point4 {
    padding-left: 45px;
    padding-top: 10px;
    color: #9095A0;

}

.peet-point5 {
    padding-left: 90px;
    padding-top: 20px;
    font-size: 30px;
    color: #191D34;
}

.peet-point6 {
    padding-left: 45px;
    padding-top: 10px;
    color: #9095A0;

}





.peet-img1 {
    left: 50px;
    bottom: 100px;
    position: relative;
    height: 269px;
    width: 255px;
    border-radius: 14px;
    box-shadow: 0px 16px 35px 0px rgba(0, 0, 2, 0.08);
    background-color: #FFFFFF;
}


.peet-img1 img {
    padding-top: 35px;
    padding-left: 80px;
}



.peet-img2 {
    left: 50px;
    bottom: 70px;
    position: relative;
    height: 269px;
    width: 255px;
    border-radius: 14px;
    box-shadow: 0px 16px 35px 0px rgba(0, 0, 2, 0.08);
    background-color: #FFFFFF;
}


.peet-img2 img {
    padding-top: 35px;
    padding-left: 80px;
}


.display-border {

    position: relative;
    /* padding-left: 300px; */
    height: 280px;
    width: 650px;
    border-radius: 30px;
    transition-duration: 1s;
    transition-delay: 0s;
    box-shadow: 0px 16px 35px 0px rgba(0, 0, 2, 0.08);
    left: 300px;
}

.display-border:hover {
    transition-duration: 1s;
    transition-delay: 0s;
    background-color: #c6c8cc;
}


.display1 {
    position: relative;
    display: flex;
    top: 20%;
    left: 50px;
}

.display {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 80px;
    height: 500px;

}

.flex-con {
    position: relative;
    left: 30px;
    top: 20px;

}

.flex-text1 {
    font-size: 20px;

}

.flex-text2 {
    padding-top: 15px;
    color: #9095A0;
}

.flex-text3 {
    padding-top: 10px;
    color: #9095A0;
}


#black-container {
    height: 750px;
}

.team1 h1 {
    font-size: 60px;
    color: #222222;

}

.team1 p {
    padding-top: 20px;
    font-size: 18px;
    color: #9095A0;
}




.team1 {
    text-align: center;
}


.black-border1 {
    margin: 140px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 90px;
 
    position: relative;
    left: 140px;
    bottom: 50px;

}



.rela1 {

    position: relative;
    height: 60px;
    width: 150px;
    left: 95px;
    border-radius: 10px;
    bottom: 20px;
    background-color: #FFFFFF;
    color: #222222;
    padding-left: 18px;
    box-shadow: 0px 16px 35px 0px rgba(0, 0, 2, 0.08);
    cursor: pointer;
    transition-duration: 1s;
    transition-delay: 0s;
  

}

.rela1:hover {
    background-color: #0088D5;
    transition-duration: 1s;
    transition-delay: 0s;
    color: #FFFFFF;

}

.rela1 h1 {
    color: #222222;

}


.rela1 p {
    color: #4f5258;
}




#last-section {
    background-image: url(./image/contact_bg.png.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
}





.last_1 {
    position: relative;
    text-align: center;
    top: 100px;

}

.last-2 {
    padding-top: 100px;
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;

}

.last-3 p {
    padding-top: 30px;
    font-size: 20px;
    color: #FFFFFF;
    line-height: 30px;
    font-weight: 400;

}



.last-btn {
    padding-top: 50px;
    position: relative;
    right: 50px;
}


.last-btn input {
    height: 50px;
    width: 180px;
    border-radius: 30px;
    border: none;
    font-size: 20px;
    background-color: #FFFFFF;
    color: #fd7e14;
    cursor: pointer;
    transition-duration: 1s;
    transition-delay: 0s;
}

.last-btn input:hover {
    transition-duration: 1s;
    transition-delay: 0s;
    background-color: #FE6217;
    color: #FFFFFF;
}

.last-btn2 {
    position: relative;
    top: 15px;
    left: 20px;

}

.last-btn2 a {
    text-decoration: none;
    font-size: 25px;
    color: #FFFFFF;
}

.last-btn {
    display: flex;
    justify-content: center;
}


#footer-container {
    margin: 200px;
    height: 320PX;
}

.footer-file1 {
    display: flex;
    justify-content: space-evenly;

}


.footer-file2 {
    display: flex;
    flex-direction: column;


}

.footer-file2 h1 {
    padding-bottom: 50px;
    color: #2E2E2E;

}




.footer-file2 a {
    font-size: 20px;
    text-decoration: none;
    padding-top: 20px;
    color: #A37C7A;
}

.footer-file2 a:hover {

    color: #fd7e14;
}

.footer-file2 img {
    padding-bottom: 50px;
    width: 150px;
}

.Copyright {
    text-align: center;
    /* position: relative; */
    top: 50px;
    margin: 35px;
}


.item-logo1 img {
    padding-top: 50px;
    cursor: pointer;
    width: 20px;
}

.item-logo1 {
    display: flex;
}

.in1 {
    padding-left: 30px;

}

.goo {
    padding-left: 40px;

}





.Copyright a {
    text-decoration: none;
    color: #0088D5;
    font-size: 20px;
}